.hero-section{
    padding-top:120px;
        width: 100%;
        height: fit-content;
    }
    
.hero-section img{
    width:100%;
    height:300px;
}

.c-menu{
    background-color: aqua;
    display: flex;
    flex: 1;
}
.c-menu h2{
    text-align: center;
    
}
